/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f2fe; /* Light blue background */
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

.container {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    padding: 25px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #0a558c; /* Darker shade of blue */
    font-size: 2em;
    margin-bottom: 0.75em;
}

form,
#stock-chart-container {
    margin-bottom: 2em;
}

label {
    display: block;
    text-align: left;
    font-weight: 600;
    margin: 15px 0 5px;
    color: #0a558c; /* Matching the h1 color */
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border: 2px solid #89c2d9; /* Soft blue */
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-image: linear-gradient(to right, #6db9ef, #7ce08a); /* Gradient adjusted to blue */
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
}

button:hover {
    background-image: linear-gradient(to right, #58a6d8, #6ad97c); /* Darker gradient on hover */
}

#stock-chart {
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.predicted {
    font-weight: bold;
    color: #1a202c;
    margin-top: 1em;
    font-size: 1.1em;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        margin-top: 20px;
    }

    h1 {
        font-size: 1.75em;
    }
}
